$text-color-primary: #fff;

.navbar {
  background-color: #414141;
  display: flex;
  height: 64px;
  box-shadow: -1px 12px 9px -6px rgba(112, 112, 112, 0.75);
  -webkit-box-shadow: -1px 12px 9px -6px rgba(112, 112, 112, 0.75);
  -moz-box-shadow: -1px 12px 9px -6px rgba(112, 112, 112, 0.75);
  .nav_container {
    width: 1280px;
    display: flex;
    margin: 0 auto 0 auto;
    align-items: center;
  }
}

.logo_item {
  float: left;
}

.menu_item {
  margin-right: 35px;
  .menu_label {
    color: $text-color-primary;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
    .title {
      margin-left: 5px;
      font-family: 'Hiragino Kaku Gothic Pro';
    }
  }
}

.menu_dropdown {
  position: absolute;
  width: 280px;
  right: 0;
  top: 35px;
  background-color: #777;
}
.menu_dropdown_items {
    display: block;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size: 18px;
    color: #fff;
    padding: 21px 15px;
    border-bottom: 1px solid #666666;
    border-top: 1px solid #999999;
}
